@model GGsWeb.Models.VideoGame
@{
    ViewData["Title"] = "CardView";
}
<div class="card" style="width: 10rem">
    <img src="" alt="">
    <div class="card-body">
        <img src="" alt="" class="card-img-top">
        <h5>@Html.DisplayFor(model => model.name)</h5>
            <div class="row">
                <div class="col">
                    <p class="card-text text-left">@Html.DisplayFor(model => model.platform)</p>
                </div>
                <div class="col">
                    <p class="text-right">@Html.ActionLink("Details", "Details", "VideoGame", new { id = Model.id })</p>
                </div>
            </div>
        
        
        @*<a href="" class="btn btn-primary">Add to Cart</a>*@
        <button class="btn btn-primary text-white float-right" onclick="location.href='@Url.Action("AddItemToCart", "Customer", Model)'">Add to Cart</button>

    </div>
</div>

