@model IEnumerable<GiantBomb.Api.Model.Game>
@{
    ViewData["Title"] = "AddInventoryItem";
}

<h1>Add Inventory Item</h1>

<div class="container mx-auto">
    <form asp-action="AddInventoryItem" method="get">
        <p>
            <input type="text" name="searchString" class="form-control col-4" placeholder="Enter Video Game Name" />
            <input type="submit" class="btn btn-primary" value="Search" />
        </p>
    </form>
    <table class="table col-6">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@Html.ActionLink("Select", "ViewInventoryItem")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
